/* 
Font utilizzati:

titoli:  ‘Edu Tas Beginner’, sans-serif;
date: ‘Sometype Mono’, ‘monospace’; */

/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*************************************************
    HEADER
 *************************************************/
header {
    background-color: grey;
    height: 80px;
    text-align: center;
    background-image: url(../img/wall.png);
}

h1 {
    line-height: 80px;
    font-family:Edu Tas Beginner, sans-serif;
    font-size: 50px;
}




 /*************************************************
    MAIN
 *************************************************/
 /* PICTURES */
 
 .main-container {
    background-color: sandybrown;
    background-image: url(../img/cork.png);
    padding: 30px 0;
 }

 .cards-container {
    width: 70%;
    margin: 0 auto;
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

.col {
    background-color: white;
    height: 360px;
    min-width: 294px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.col:hover {
    transform: rotate(10deg);
}

.card {
    padding: 14px 18px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
   
}


.red-pin {
    position: absolute;
    z-index: 1000;
    width: 28px;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

/* spazio img */
.spazio-per-immagine {
   height: 264px;
  display: block;
  object-fit: cover;
}

/* didascalia img */
.date {
    font-family: Sometype Mono, monospace;
    font-size: 14px;
    margin-top: 12px;
}
.text {
    font-family:Edu Tas Beginner, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}


/* PARTE PER OVERLAY */
.main-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.btn-chiudi {
    background-color: rgb(199, 199, 199);
    padding: 6px 14px;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    min-width: 120px;
    margin-bottom: 30px;
    cursor: pointer;
}

.spazio-img-grande {
    width: 560px;
    height: 560px;
}

img {
  width: 100%;
}



 /*************************************************
 *************************************************
    RESPONSIVE
 *************************************************
 *************************************************/

 @media screen and (max-width: 900px) {

    .cards-container {
        width: 50%;
    }

    .row {
        justify-content: center;      
    }
 }